.searchDiv {
	display: flex;
	gap: 10px;
  position: fixed;
  margin-top: -90px;
  margin-bottom: 125px;
	z-index: 100;
}

.searchInput {
  border-radius: 4px;
  padding: 4px 8px;
  width: 150px;
	margin-left: -30px;
	font-size: 22px;
  font-family: 'JetBrains Mono', monospace;
	border: none;
}

.searchLabel {
	all: none;
}
