.containerStyle {
  justify-content: space-between;
  width: 490px;
  padding: 0px;
  padding-bottom: 10px;
}

.passwordInput {
  border-radius: 4px;
  padding: 4px;
  font-size: 22px;
  width: 300px;
  font-family: 'JetBrains Mono', monospace;
}

.userLabel {
  font-size: 22px;
}

.profileInfo {
  align-self: center;
  background-color: #0d224d9a;
  margin-bottom: 10px;
  padding: 6px;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.466);
  border-radius: 6px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 42px;
  width: 100%;
  margin-top: 15px;
}
